# Python
__pycache__/
*.pyc
*.pyo

# Git
.git
.gitignore

# Env
.env
venv/
.venv/

# Node
node_modules/

# Data files
*.csv
*.xlsx
*.parquet

# Model files
*.pth
*.pt
*.pkl

# Folders
data/
datasets/
checkpoints/
models/
results/

# Frontend build (optional)
dist/
build/

frontend/
results/
screenshots/
*.ipynb